<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% 
if @task.completed == false
    result = "Task is not completed"
else
    result = "Task is completed"
end%>
<p><%= result %></p>

<p><%= link_to "Edit", edit_path %></p>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<p><%= link_to "Back to list", tasks_path %></p>
